
/*Mobile View*/
@media only screen and (max-width: 960px) {


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
    


.fullPage {

    display: flex;
    flex-wrap: wrap;


}



.menuBar {

    width: 100%;
    height: 240px;
    

}

.searchSection {

    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;

    background-color: red;


}

.buttonSection {

    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;

    background-color: blue;


}

.data {

    width: 100%;
    height: 1200px;

}

.dataSectionTop {

    width: 100%;
    height: 600px;

    background-color: green;

}

.dataSectionBottom {


    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: yellow;

}


.mapSection {

    width: 100%;
    height: 600px;

    background-color: silver;


}

.borderCheck {
    /*
    border-style: dashed;
    border-color: black;
    width: 50px;
    height: 50px;
    */


}

/*
.temperatureSwitchButton {

    height: 50px;
    width: 50px;

}
*/


}

/*Desktop View*/

@media only screen and (min-width: 961px) {


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    height: 100vh;
    width: 100vw;

}

.fullPage {


    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 11fr;
    grid-template-columns: 1fr 1fr;


}

.menuBar {


    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;

    grid-template-columns: 1fr 1fr;

}

.searchSection {

    grid-column: 1 / 2;
    background-color: red;

}

.buttonSection {

    grid-column: 2 / 3;
    background-color: blue;

}

.data {


    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.dataSectionTop {

    grid-row: 1 / 2;
    background-color: green;


}

.dataSectionBottom {

    grid-row: 2 / 3;
    background-color: yellow;

}

.mapSection {


    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;


}


.borderCheck {

    /*
    border-style: dashed;
    border-color: black;
    width: 200px;
    height: 200px;
    */

}

/*
.temperatureSwitchButton {

    height: 50px;
    width: 50px;

}
*/


.mapHolder {


    border-style: dashed;
    border-color: black;
    height: 500px;
    width: 500px;


}

}

